<nav class="flex justify-start items-center px-4 py-4 border-b">
    <div class="flex justify-center items-center gap-2">
        <i class="fa-solid fa-wallet p-3 bg-green-400 text-white rounded-full"></i>
        <h1 class="font-medium text-gray-600">Expense Tracker</h1>
    </div>
</nav>